.Appbar {
  padding: 1rem;

  .Appbar__Container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ActionIcons {
  button {
    font-size: 12px;
    @media (max-width: 600px) {
      font-size: 10px;
    }
  }
}
