@import "../../pallete.scss";
.Product {
  padding: 1rem;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 1px 1px 2px 1px #ccc;
  @media (max-width: 800px) {
    margin: 10px auto;
    text-align: center;
  }
  .Product__Title {
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    @media (max-width: 800px) {
      padding: 0;
      text-align: center;
    }
  }
  .Product__Container {
    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .Product__Image__Container {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 800px) {
        width: 100%;
      }

      img {
        height: 100%;
      }
    }
    .Product__Data__Points {
      width: 30%;
      @media (max-width: 800px) {
        display: none;
      }

      ul {
        font-size: 0.8rem;
        width: fit-content;
        margin: 20px auto;
        li {
          margin: 0 auto;
        }
      }
    }
    .Product__Data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px dotted #ccc;
      text-align: right;
      padding-left: 2rem;
      width: 30%;

      @media (max-width: 800px) {
        border-left: none;
        padding-left: 0;
        width: 100%;
      }
      .Product__Price {
        font-size: 1.6rem;
        @media (max-width: 800px) {
          text-align: center;
        }
      }
      a {
        text-decoration: none;
        color: $platinum;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 18px;
        background-color: $keppel;
      }
    }
  }
}
