@import "../../pallete.scss";

.Banner {
  padding: 2rem;
  box-shadow: 1px 4px 3px #ccc;

  background-color: $keppel;
  @media (max-width: 600px) {
    padding: 2rem 0.5rem;
  }
  .Banner__Container {
    display: flex;
    max-width: 1500px;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    img {
      width: 100%;
      max-width: 350px;
    }
    @media (max-width: 900px) {
      padding: 1rem;
      flex-direction: column;
    }
  }
}

.BannerText {
  text-align: center;
  h2 {
    font-size: 3rem;
    @media (max-width: 900px) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1rem;
    @media (max-width: 900px) {
      font-size: 0.9rem;
    }
  }
}

.ShopNowBtn {
  padding: 0.7rem 1rem;
  margin-top: 20px;
  border-radius: $border-radius;
  background-color: white;
}
