.QuickShopBox {
    width: 100%;
    img {
        margin: 0 auto;
        display: block;
        width: 100px;
        height: 100px;
    }
    p {
        margin-top: 10px;
        font-size: 0.8rem;
        text-align: center;
    }
}
