@import "../../pallete.scss";
.RecentlyViewedProduct {
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  border-radius: $border-radius;
  padding: 0.5rem;
  @media (max-width: 700px) {
    border-radius: 0;
  }
  .RecentlyViewedProduct__ImageContainer {
    img {
      width: 100%;
    }
  }
  .RecentlyViewedProduct__Data {
    text-align: center;
    font-size: 1rem;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.8em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
