$onyx: rgba(57, 62, 65, 1);
$timberwolf: rgba(211, 208, 203, 1);
$platinum: rgba(231, 229, 223, 1);
$keppel: rgba(68, 187, 164, 1);
$maize-crayola: rgba(231, 187, 65, 1);

$primary-color: $onyx;
$secondary-color: $platinum;
$border-radius: 18px;

$text-secondary: whitesmoke;
