@import "../../pallete.scss";

.QuickShopBoxs {
  width: fit-content;
  margin: 0 auto;
  padding: 3rem;
  h4 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.Container {
  user-select: none;
  max-width: 1500px;
  margin: 40px auto;
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
}
